/* fonts */
@require 'fonts';

/* tailwindcss basics */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* cusotm styles */
@require 'moving-gradient-text';

/* general styles */
html, body {
  background-color: #fff;
}