.moving-gradient-text {
  background: linear-gradient(120deg, #c024c1, #4e43e4, #17b4c5);
  background-size: 200% 200%;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: movingGradientText 30s ease infinite;
  -moz-animation: movingGradientText 30s ease infinite;
  -o-animation: movingGradientText 30s ease infinite;
  animation: movingGradientText 30s ease infinite;
}

@-webkit-keyframes movingGradientText {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes movingGradientText {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-o-keyframes movingGradientText {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes movingGradientText {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}